<!-- Author box at the end of every post. Details live under `author` in _config.yml. -->
<div class="author-box">
    <img class="author-box-avatar" src="{{ site.baseurl }}/{{ site.author.avatar }}" alt="{{ site.author.name }}" width="72" height="72" loading="lazy">
    <div class="author-box-text">
        <h5 class="font-weight-bold mb-0">Written by {{ site.author.name }} <a target="_blank" href="https://twitter.com/{{ site.author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></h5>
        <p class="author-box-role">{{ site.author.title }}</p>
        <p class="author-box-bio">{{ site.author.bio }} <a href="{{ site.baseurl }}/about.html">More about me</a></p>
    </div>
</div>
