<h5 class="mb-3">MLIT by Ndcharles</h5>

<p>Hi! My name is <a href="{{site.baseurl}}/about.html">Ndcharles</a> and this is MyLifeInTech. Here I write on my journey in tech; from general tech to trying to master data science and tech products.</p>

<a target="_blank" href="https://ndcharles.github.io/data-portfolio" class="btn btn-warning mb-2"><i class="fa fa-file"></i>&nbsp; View Portfolio</a>

<a href="{{site.baseurl}}/index.html" class="btn btn-success"><i class="fa fa-coffee"></i>&nbsp; Read Latest Articles</a> 
