<h5 class="mb-3">MLIT by Ndcharles</h5>

<p>Hi! This is MyLifeInTech, a blog by <a href="{{site.baseurl}}/about.html">Ndcharles</a>. Here I write on journey in tech; from general tech to data science, growth marketing and product management.</p>

<a target="_blank" href="https://ndcharles.github.io/portfolio" class="btn btn-warning mb-2"><i class="fa fa-file"></i>&nbsp; View Portfolio</a>

<a target="_blank" class="btn btn-success" href="{{site.baseurl}}"><i class="fa fa-coffee"></i>&nbsp; Read Latest Articles</a> 
