---
---

@import "{{ site.theme }}";

body {
  background-color: #ecf0f1;
  color:#727272;
}

section {
  background-color: #f5f6fa;
  border:8px;
  border-width:0px 0;
  padding:50px 10;
  margin:0 0 40px;
}
